*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #DEDEDE;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, p {
  margin: 0;
}

.container {
  width: 550px;
  aspect-ratio: 1;
}

header {
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #DEEBF8;
  padding: .5em 1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

header.dark {
  background-color: #21222A;
}

header > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: .7rem;
  letter-spacing: -1px;
  color: #61DAFB;
  font-weight: 700;
}

header p {
  font-size: 1rem;
  font-weight: 600;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: .8rem;
  font-weight: 600;
}

.toggler-slider {
  width: 25px;
  height: 15px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

header.dark .toggler-slider {
  border-color: #FFFFFF;
  background-color: #F5F5F5;
}

.toggler-slider-circle {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
}

header.dark .toggler-slider-circle {
  background-color: black;
}

.toggler-light {
  color: #2B283A;
}

header.dark .toggler-light {
  color: #918E9B;
}

.toggler-dark {
  color: #D5D4D8;
}

header.dark .toggler-dark {
  color: #FFFFFF;
}

header.dark .toggler-slider {
  justify-content: flex-end;
}

main {
  background-image: url(./images/bg-light.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding: 3em 1.5em;
  color: #2B283A;
  background-color: #FFFFFF;
  
}

main.dark {
  background-image: url(./images/bg-dark.png);
  background-color: #282D35;
  color: #FFFFFF; 
}

main h2 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -0.05em;
}

main ul {
  max-width: 400px;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 1.5em;
}

li {
  margin-bottom: 1em;
}

li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}


