*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg-dark: #1f372c;
    --bg-light: #059669;
    --font-dark: rgba(63, 97, 72, .95);
    --font-ligth: rgba(236, 253, 245, .95);
    --font-light-transparent: rgba(236, 253, 245, .55);
    --border-radius: 10px;
    --font-family: 'Inter', sans-serif;
    --spacing: 2.8em;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    color: var(--font-ligth);
    background-color: #f8f8f8;
}

h1, h2, p {
    margin: 0;
}

.container {
    width: 70%;
    max-width: 700px;
    margin: 1em auto 0;
    background-color: var(--bg-dark);
    box-shadow: 15px 15px 0 rgba(255, 148, 148, 0.5);
    border-radius: var(--border-radius);
}

.title-container {
    padding-block: 5em;
    text-align: center;
    background-color: var(--bg-light);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.title {
    font-size: 2.7rem;
}

.title-container p {
    margin-top: .7em;
    font-size: 1.1rem;
}

.body-container {
    padding: var(--spacing);
}

.body-container h2 {
    font-size: .8rem;
    font-weight: 500;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing);
}

.expenses-container {
    display: flex;
    justify-content: space-between;
}

.expenses-container p {
    display: inline-block;
}

.body-col p {
    margin-top: 1.7em;
    margin-right: 1em;
    font-weight: 800;
    font-size: 1.3rem;
}

.body-col p:last-of-type {
    margin-bottom: 1.7em;
}

.body-col span {
    color: var(--font-light-transparent);
    font-size: 1.3rem;
    margin-right: .1em;
}

.sum-container {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing);
}

.sum-col+.sum-col {
    text-align: right;
}

.sum-col p {
    margin-top: 1.2em;
    font-size: .8rem;
}

.sum-col span {
    font-size: 2rem;
}

/*
    BUTTONS
*/

.btn {
    border: none;
    border-radius: var(--border-radius);
    padding: 1em 1.7em;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
}

.btn:active {
    transform: scale(.95);
}

.btn:focus,
.btn:hover {
    opacity: .95;
    cursor: pointer;
}

.btn-small {
    /* visibility: hidden; */
    background-color: inherit;
    border: none;
    outline: none;
    font-size: .7rem;
    color: var(--font-light-transparent);
    padding: .5em 1em;
}

.btn-small:hover,
.btn-small:focus {
    cursor: pointer;
}

.btn-middle {
    color: var(--font-dark);
}

.btn-big {
    margin-top: var(--spacing);
    width: 100%;
    background-color: var(--bg-light);
    color: var(--font-light);
}